body {
    font-family: "Arial", sans-serif;
    text-align: center;
  }
  
  h1 {
    text-align: center;
  }
  
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  p {
    border: 2px solid #4CAF50;
    border-radius: 5px;
    padding: 20px;
  }
  